/* CSS that can be used in the wiki pages */


.mono {
	font-family : monospace;
	padding-left : 5px;
	padding-right : 5px;
	font-size: 10pt;
}

.pw-title {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-shadow: 2px 2px 2px #ddd;
	border-bottom: 1px dotted #eee;
}
