/*
  main content width
  min 900px
*/
#container{
	width:950px;
}
/*
  font-size for file system view
  8pt 10pt for smime images
  12 - 15pt for larger images
*/
.filesystem li {
	font-size:14pt;
}
/*
  reduce this if you are using small fonts
*/
body{
	line-height:1.4em;
}

/* HTML components */
body{
margin:0px;padding:0px;border:0px;
font-family:Verdana,Arial,sans-serif;
font-weight:normal;
text-decoration:none;
font-size:12pt;
font-style:normal;
}
iframe{
border:0px;margin:0px;padding:0px;
}
h1,h2,h3,h4,h5,b,em{font-weight:bold;}
h4{font-size:13pt;}
h3{font-size:13pt;}
h2{font-size:15pt;}
h1{font-size:16pt;}
p{
margin:0px;padding:0px;
}
ul{
margin-top:10px; margin-bottom: 10px;
}
code,pre{
font-family:mono-spaced;
font-weight:normal;
text-decoration:none;
font-size:14px
}
samp {
font-size:12px
}
hr{
border:1px grey etched;
background: silver;
margin-top:4px;
margin-bottom:4px;
padding:0px;
}
table{
border-collapse:collapse;
}
th{
text-align:left;
color:#fff;
padding:2px 4px 2px 4px;
}
td{
padding:2px 4px 2px 4px;
}
a img{
border:0px;
}
a{
color:#111;
text-decoration:none;
}
a:hover{
color:#111;
text-decoration:underline;
}
img {
vertical-align: middle;
}
/* end HTML components */

/* center column */
body#pw-body {
	margin-top:15px;
	text-align:center;
	background: url(img/background.png) repeat-x 0 0;
}
#container{

	text-align:left;
	padding-top:0px;
	margin-top:0px;
	margin:auto;
	
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
	-khtml-box-shadow: 1px 1px 3px #333;
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;	
}
#content {
	background: url("img/nodetoy-background.png") no-repeat  #FFFFFF;
	background-position: 30px 40px;
	position:relative;
	min-height:450px;
	/*tthis empty border is an IE hack ?! !WFT */
	border: solid 1px white;
}

table.frame{
	width: 100%;
}
table.frame td{
	margin:0px;padding:0px;border:0px;
}

/* header is the top bar */
#header{
	background: url(img/back-1x36.png) repeat-x 0 0;
	border :1px solid; border-color : #efefef #bbb #bbb #efefef;
	padding-top: 7px; padding-bottom: 6px;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-khtml-border-radius: 8px 8px 0px 0px;
}
#header span.title {
	vertical-align:top;
	padding-left: 45px; /*13px;*/
	color: #335;
	font-weight: normal;
	font-size:1.2em;
	background: url(/favicon.png) no-repeat 9px 0;
	text-shadow: 1px 1px 0 #EEEEEE;
}

/* footer */
#footer{
	background: url(img/back.png) repeat-x 0 0;
	border-left: 1px solid white 
	margin-bottom:16px;
	color: #999;
	font-size: 11px;
	line-height:12px;
	white-space:nowrap;
	text-align:center;
	text-shadow: 1px 1px 0 #EEEEEF;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-khtml-border-radius: 0px 0px 8px 8px;
}

/* in main all the central content */
#main{
	margin-left:150px;
	margin-right:15px;
	padding-top: 10px;
	/*FF etc*/
	min-height:350px;
	/*IE hacks etc*/
	height:auto !important;
	height:350px;
}

/* the side menu */
#menu{
	position:absolute;
	top:16px;
	left:16px;
	width:115px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	/*background-color: #f9f9ff;*/
	background: url("img/background.png") repeat-x scroll 0 0 #eaeaea;
	text-shadow: 1px 1px 0px #FFF;
	
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
	-khtml-box-shadow: 1px 1px 3px #333;
	
	border-radius: 8px 0px 8px 0px;
	-moz-border-radius: 8px 0px 8px 0px;
	-webkit-border-radius: 8px 0px 8px 0px;
	-khtml-border-radius: 8px 0px 8px 0px;	
}
#menu ul{
	padding-left:16px;
	margin:0px;
}
#menu li{
	list-style:none;
	font-size:9pt;
	line-height:14px;
	margin-bottom:5px;
}
#menu li a{
	color:black;
	text-decoration:none;
}
#menu li a:hover{
	text-decoration:none;
}
a.help-link {
	position:relative;
}
a.help-link:hover{ z-index:23; color: #000}
a.help-link:hover span.tooltip {
	/* pos */
	display:block;
	position:absolute;
	top:28px; left:32;
	padding:10px;
	/* style */
	text-align: left;
	white-space: nowrap;
	color: #fff;
	background-color: #000;
	font-size: 9pt;
	font-weight: normal;
	text-decoration:none;
	/* effect */
	border-radius :8px;
	-moz-border-radius :8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
}
span.tooltip {
	text-shadow: 0px 0px 0px;
}

/* the indexes */
#title {
	margin:0px 0px 15px 0px;
}
#root {
	font-size:14pt;
	font-weight:bold;
	cursor:pointer;
}
#root-img {
	padding-right:5px;
}

.tooltip {
	display: none;
}
a.flink {
	position:relative;
}
a.flink:hover{ z-index:23; color: #000}
a.flink:hover span.tooltip{
	/* pos */
	display:block;
	position:absolute;
	top:28px; left:32;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
	/* style */
	text-align: left;
	white-space: nowrap;
	color: #ccc;
	background-color: #222;
	font-size: 9pt;
	font-weight: bold;
	text-decoration:none;
	/* effect */
	-moz-border-radius :8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;
	filter: alpha(opacity:80);
	KHTMLOpacity: 0.80;
	MozOpacity: 0.80;
	opacity: 0.80;
}

.pw-html-editor {
	width: 765px;
}
.pw-breadcrumb-trail {
	font-size: 11px;
	color: silver;
	padding-bottom: 5px;
}
div.pw-breadcrumb-trail span {
	padding: 2px;
	border-bottom : 1px dotted #eee;
}
.pw-breadcrumb-trail a{
	color: silver;
}
div.pw-created {
	font-size: 8pt;
	font-weight: bold;
}
div.pw-edited {
	font-size: 8pt;
}
div.pw-metadata {
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #eee;
	display:block;
	max-height: 100px;
	overflow: scroll;
}
span.pw-date {
	padding-left: 10px;
}

ul.pw-toc {
	margin-top: 0px;
}
div.pw-content p {
	margin: 0px; padding: 0px;
}
div#pw-history-title {
	text-align: right;
	margin-right: 10px;
}
.pw-css-button {
	background: url("img/back-1x36.png") repeat-x scroll 0 0 transparent;
	padding: 0px 5px 0px 5px;
	border: 1px solid silver;
	font-size: 10px;
	font-weight: bold;
	text-decoration:none;
	text-shadow: 1px 1px 0 #fff;
	border-radius: 4px 4px 4px 4px;
}
.warning {
	font-size: 10px;
}
div#content table {
	width: 100%;
}
div#pw-content samp {
	font-family : monospace;
	padding : 5px;
	border: 1px solid black dotted;
	background-color : #eee;
	display: block; 
}
#pw-popup {
	position : absolute;
	top: 50px;
	left: 50px;
	z-index : 999;
	background: #fff;
	padding : 0px;
	box-shadow: 2px 2px 6px 0px #666;
	-moz-box-shadow: 2px 2px 6px 0px #666;
	-webkit-box-shadow: 2px 2px 6px 0px #666;
	-khtml-box-shadow: 2px 2px 6px 0px #666;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	font-size: 10pt;
}
#pw-popup h3 {
	padding : 10px;
	padding-top : 7px;
	background: url("img/back-1x36.png") repeat-x scroll 0 0 transparent;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 11pt;
}
#pw-popup div {
	padding : 10px;
}
#pw-popup form {
	padding : 10px;
	margin: 0px;
	padding-bootom: 15px;
}
#pw-popup form label {
	float: left;
	width: 100px;
	padding-right: 10px;
	text-align: right;
}
#pw-popup {
	width: 420px;
}
#pw-popup input#pw-popup-answer {
	padding: 5px;
	font-size: 20px;
	text-shadow: 2px 2px 2px #DDDDDD;
}
#pw-popup-buttons {
	margin-top: 15px;
	display: block;
	text-align : center;
}

#pw-popup br {
	clear:both;
}
#pw-title {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-shadow: 2px 2px 2px #ddd;
	border-bottom: 1px dotted #eee;
}
#pw-close {
	float: right;
	margin: 10px;
}
/*
 * CSS for TestPage components
 */
#nt-url {
	width: 500px; 
}
#m3-js-tree-view {
	font-size: 10px;
	overflow: auto;
}
#m3-js-tree-view a {
	font-weight: normal;
}
#m3-output {
	font-size: 10px;
	font-family: mono;
	overflow:auto;
}
.m3-region {
 	position:relative;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius :8px;
	-moz-border-radius :8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px;	
}
#nt-mem li a {
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 0px 2px 0px 2px;
	background-color: #eee;
	box-shadow: 0px 0px 1px #999;
}